<template>
    <div>
        <div class="in-contents-ask-total-box1" :data="detailInfo">
            <div>
                <div class="ask-total-box1-title">
                    <span>제목: {{ detailInfo.memberAskTitle }} </span>
                    <span>작성 날짜: {{ detailInfo.dateAskManagement }} </span>
                    <span>답변 여부: {{ detailInfo.isCompletion }} </span>
                </div>
                <div class="ask-total-box1-text">
                    {{ detailInfo.memberAskContent }}
                </div>
            </div>
            <div class="ask-total-box">
                <div class="ask-total-box1-title">
                    <span>< 관리자 답변 ></span>
                </div>
                <div class="ask-total-box1-text">
                    {{ detailInfo.content }}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            detailInfo: {
                memberAskTitle: '',
                memberAskContent: '',
                content: '',
                dateAskManagement: '',
                isCompletion: '',
            },
        }
    },
    methods: {
        async getDetail() {
            await this.$store.dispatch(this.$askConstants.DO_ASK_LIST_MANAGE_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                })
                .catch((err) => {
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COUNSEL_REGIST')
    },
}
</script>
