<template>
    <div class="flush-box">
        <div class="refg-contents-wrap in-contents">
            <div class="in-contents-member-change" :data="tableDataCloser">
                <div class="in-contents-total-form1">
                    <el-col :gutter="16">
                        <el-col :gutter="16">
                            <el-col class="member-change-total1 member-change-total1-1">
                                <el-skeleton-item variant="image" style="width: 270px; height: 145px;"/>
                            </el-col>
                            <el-col class="member-change-total1">
                                <el-col class="member-change-total1-2">
                                    <el-col :span="4" class="member-change-title1">아이디</el-col>
                                    <el-col :span="10" class="member-change-content1">
                                        {{ tableDataCloser.username }}
                                    </el-col>
                                </el-col>
                                <el-row :gutter="16"></el-row>
                                <el-row :gutter="16"></el-row>
                                <el-col class="member-change-total1-2">
                                    <el-col :span="4" class="member-change-title1">이름</el-col>
                                    <el-col :span="10" class="member-change-content1">
                                        {{ tableDataCloser.name }}
                                    </el-col>
                                </el-col>
                                <el-row :gutter="16"></el-row>
                                <el-row :gutter="16"></el-row>
                                <el-col class="member-change-total1-2">
                                    <el-col :span="4" class="member-change-title1">닉네임</el-col>
                                    <el-col :span="10" class="member-change-content1">
                                        {{ tableDataCloser.nickName }}
                                    </el-col>
                                </el-col>
                            </el-col>
                        </el-col>
                    </el-col>
                </div>
                <el-row :gutter="16"></el-row>
                <el-row :gutter="16"></el-row>
                <div class="in-contents-total-form2">
                    <el-col :gutter="16">
                        <el-col class="member-change-total2 member-change-total1-1">
                            <el-col :span="4" class="member-change-title1">상태</el-col>
                            <el-col :span="10" class="member-change-content1">
                                {{ tableDataCloser.memberRatingName }}
                            </el-col>
                        </el-col>
                        <el-col class="member-change-total2">
                            <el-col :span="4" class="member-change-title1">등급</el-col>
                            <el-col :span="10" class="member-change-content1">
                                {{ tableDataCloser.gradeName }}
                            </el-col>
                        </el-col>
                    </el-col>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="16"></el-row>
                    <el-col :gutter="16" class="member-change-total3">
                        <el-col :span="8" class="member-change-title3">생년월일</el-col>
                        <el-col :span="9" class="member-change-content2">
                            {{ tableDataCloser.dateBirth }}
                        </el-col>
                    </el-col>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="16"></el-row>
                    <el-col :gutter="16" class="member-change-total3">
                        <el-col :span="8" class="member-change-title3">이메일</el-col>
                        <el-col :span="9" class="member-change-content2">
                            {{ tableDataCloser.email }}
                        </el-col>
                    </el-col>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">투표 횟수</el-col>
                            <el-col :span="9" class="member-change-content3">8</el-col>
                        </el-col>
                        <el-col :span="6">
                            <button class="button-member-change-closer" @click="moveVote(id)">
                                자세히 <i class="el-icon-arrow-right"></i>
                            </button>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">작성한 게시글 수</el-col>
                            <el-col :span="9" class="member-change-content3">3</el-col>
                        </el-col>
                        <el-col span="6">
                                <button class="button-member-change-closer" @click="moveTopic(id)">
                                    자세히 <i class="el-icon-arrow-right"></i>
                                </button>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">작성한 댓글 수</el-col>
                            <el-col :span="9" class="member-change-content3">4</el-col>
                        </el-col>
                        <el-col :span="6">
                            <button class="button-member-change-closer" @click="moveComments(id)">
                                자세히 <i class="el-icon-arrow-right"></i>
                            </button>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">차단한 유저</el-col>
                            <el-col :span="9" class="member-change-content3">0</el-col>
                        </el-col>
                        <el-col :span="6">
                            <div class="member-change-modal-user-black-bg" v-if="openModalCloser == true"
                                 @click="closeCloser($event)">
                                <div class="member-change-modal-user-white-bg">
                                    <div class="member-change-modal-user-title">회원 목록</div>
                                    <el-table :data="tableData" style="width: 80%"
                                              class="member-change-modal-user-content">
                                        <el-table-column prop="id" label="User ID" width="120"></el-table-column>
                                        <el-table-column prop="state" label="회원 상태"></el-table-column>
                                        <el-table-column prop="name" label="이름" width="155"></el-table-column>
                                        <el-table-column prop="nickname" label="회원 닉네임" width="155"></el-table-column>
                                    </el-table>
                                    <button class="member-change-modal-member-list"
                                            v-if="openModalCloser == true"
                                            @click="closeCloser($event)">
                                        확인
                                    </button>
                                </div>
                            </div>
                            <button class="button-member-change-closer"
                                    @click="openModalCloser = true">
                                자세히 <i class="el-icon-arrow-right"></i>
                            </button>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">즐겨찾기한 유저</el-col>
                            <el-col :span="9" class="member-change-content3">2</el-col>
                        </el-col>
                        <el-col :span="6">
                            <div class="member-change-modal-user-black-bg" v-if="openModalCloser == true"
                                 @click="closeCloser($event)">
                                <div class="member-change-modal-user-white-bg">
                                    <div class="member-change-modal-user-title">회원 목록</div>
                                    <el-table :data="tableData" style="width: 80%"
                                              class="member-change-modal-user-content">
                                        <el-table-column prop="id" label="User ID" width="120"></el-table-column>
                                        <el-table-column prop="grade" label="등급"></el-table-column>
                                        <el-table-column prop="state" label="상태" width="155"></el-table-column>
                                        <el-table-column prop="nickname" label="닉네임" width="155"></el-table-column>
                                    </el-table>
                                    <button class="member-change-modal-member-list"
                                            v-if="openModalCloser == true"
                                            @click="closeCloser($event)">
                                        확인
                                    </button>
                                </div>
                            </div>
                            <button class="button-member-change-closer"
                                    @click="openModalCloser = true">
                                자세히 <i class="el-icon-arrow-right"></i>
                            </button>
                        </el-col>
                    </el-row>
                </div>
                <div class="in-contents-total-form3 member-change-modal-state-card">
                    <button @click="moveEditGrade(id)" class="button-member-state-change">회원 정보 수정하기</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            openModal: false,
            openModalCloser: false,
            options: [
                {
                    value: 'Option1',
                    label: '회원'
                }, {
                    value: 'Option2',
                    label: '활동 중지'
                }, {
                    value: 'Option3',
                    label: '회원 탈퇴'
                }, {
                    value: 'Option4',
                    label: '관리자'
                }],
            value: '',
            tableData: [
                {
                    id: 'rlaskagh1234',
                    grade: 'BRONZE',
                    state: 'MEMBER',
                    nickname: '김남행열차'
                },
                {
                    id: 'rkdalswjd1234',
                    grade: 'BRONZE',
                    state: 'MEMBER',
                    nickname: '강민둥'
                },
                ],
            tableDataCloser: {
                username: '',
                name: '',
                nickName: '',
                memberRatingName: '',
                gradeName: '',
                dateBirth: '',
                email: '',
                id: '',
            },
        };
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_CHANGE')
    },
    methods: {
        closeCloser(event) {
            if (event.target.classList.contains('member-change-modal-member-list')) {
                this.openModalCloser = false;
            } else if (event.target.classList.contains('member-change-modal-user-white-bg')) {
                this.openModalCloser = true;
            }
        },
        async SEARCH_ID() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.SEARCH_ID, {id: this.id})
                .then((res) => {
                    this.tableDataCloser = res.data.data
                    console.log(res)
                    console.log('성공따리2')
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    console.log(err)
                    console.log('실패따리2')
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEditGrade(id) {
            let linkBaseUrl = '/my-menu/member/change-grade/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveTopic(id) {
            let linkBaseUrl = '/my-menu/member/detail-topic/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveComments(id) {
            let linkBaseUrl = '/my-menu/member/detail-comments/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveVote(id) {
            let linkBaseUrl = '/my-menu/member/detail-vote/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.SEARCH_ID()
    }

}
</script>
