// 기본 버튼 글자 색상
$color-button-text: #ffffff;
$color-button-hover-active-text: #ffffff;

// 기본 버튼 색상
$color-button: #2980b9;
$color-button-hover: #0056b3;
$color-button-active: #003a80;

// 자세히 보기 버튼
$color-button-closer: #c4c4c4;
$color-button-closer-hover: #646464;
$color-button-closer-active: #646464;

// 닫기 버튼
$button-close-background: #f4f4f4;
$button-close-border: 1px solid #ccc;
$button-close-text: #333;
$button-close-padding: 10px 10px;
$button-close-text-align: center;
$button-close-text-decoration: none;
$button-close-display: inline-block;
$button-close-fontsize: 12px;
$button-close-margin: 4px 2px;
$button-close-cursor: pointer;
$button-close-border-radius: 4px;
$button-close-transition: background-color 0.3s;
$button-close-height: 26px;
$button-close-width: 80px;
$button-close-line-height: 6px;

$button-close-hover-background: #ccc;
$button-close-hover-color: #333;

// 조회 버튼 색상 제외
$button-search-width: 100px;
$button-search-border: none;
$button-search-padding: 10px 20px;
$button-search-text-align: center;
$button-search-text-decoration: none;
$button-search-display: inline-block;
$button-search-font-size: 16px;
$button-search-cursor: pointer;
$button-search-border-radius: 4px;
$button-search-transition: background-color 0.3s;

// el 버튼 공통 속성
$el-button-font-size: 16px;
$el-button-font-weight: 400;

// 표 아래 페이지
$pagination-margin-top: 15px;

// 표 공통 스타일
$table-border: 1px solid #bfbfbf;
$table-text-align: center;
$table-border-radius: 5px;

// 더 큰 표 스타일
$table-big-big-width: 1470px;

// 큰 표 스타일
$table-big-width: 1320px;
$table-big-margin-left: 90px;

// 중간 표 스타일
$table-md-width: 1080px;

// 중간과 작은 사이 표 스타일
$table-md-sm-width: 980px;

// 작은 표 스타일
$table-sm-width: 800px;

// 표 위에 총
$table-total-text-margin-bottom: 10px;

// 표 위에 총 버튼 있는 버전
$table-total-text-button-margin-bottom: 5px;

// 큰 표 위에 총
$table-big-total-text-margin-left: 25px;

//중간 표 위에 총
$table-md-total-text-margin-left: 30px;

// 작은 표 위에 총
$table-sm-total-text-margin-left: 350px;
