div.flush-box {

    // 상태 권한 변경 버튼
    button.button-member-state-change {
        background-color: $color-button;
        color: $color-button-hover-active-text;
    }
    button.button-member-state-change:hover {
        background-color: $color-button-hover;
        color: $color-button-hover-active-text;
    }
    button.button-member-state-change:active {
        background-color: $color-button-active;
        color: $color-button-hover-active-text;
    }

    // 회원 정보 변경 버튼
    button.button-member-change-closer {
        background-color: $color-button-closer;
        color: $color-button-text;
    }
    button.button-member-change-closer:hover {
        background-color: $color-button-closer-hover;
        color: $color-button-hover-active-text;
    }
    button.button-member-change-closer:active {
        background-color: $color-button-closer-active;
        color: $color-button-hover-active-text;
    }

    // 닫기 버튼
    button.member-search-close {
        background-color: $button-close-background;
        border: $button-close-border;
        color: $button-close-text;
        padding: $button-close-padding;
        text-align: $button-close-text-align;
        text-decoration: $button-close-text-decoration;
        display: $button-close-display;
        font-size: $button-close-fontsize;
        margin: $button-close-margin;
        cursor: $button-close-cursor;
        border-radius: $button-close-border-radius;
        transition: $button-close-transition;
        height: $button-close-height;
        line-height: $button-close-line-height;
        width: $button-close-width;
    }
    button.member-search-close:hover {
        background-color: $button-close-hover-background;
        color: $button-close-hover-color;
    }

    // 조회 버튼
    button.button-member-search-search, button.button-member-search-topic, button.in-contents-forbid-regist-button {
        width: $button-search-width;
        border: $button-search-border;
        padding: $button-search-padding;
        text-align: $button-search-text-align;
        text-decoration: $button-search-text-decoration;
        display: $button-search-display;
        font-size: $button-search-font-size;
        cursor: $button-search-cursor;
        border-radius: $button-search-border-radius;
        transition: $button-search-transition;
        background-color: $color-button;
        color: $color-button-text;
    }
    button.button-member-search-search:hover, button.button-member-search-topic:hover, {
        background-color: $color-button-hover;
    }
    button.button-member-search-search:active, button.button-member-search-topic:active {
        background-color: $color-button-active;
    }

    // el 버튼
    button.in-contents-forbid-regist-button > span {
        font-size: $el-button-font-size;
        font-weight: $el-button-font-weight;
    }

    // 표 밑에 번호글
    .in-contents-order, .in-contents-forbid-order, .in-contents-ask-order, .in-contents-member-comments-order {
        margin-top: $pagination-margin-top;
    }

    // 더 큰 표
    .in-contents-chart-content-change-comments, .in-contents-member-search, .in-contents-chart-content-change-topic, .in-contents-chart-member-change-vote, {
        width: $table-big-big-width;
        text-align: $table-text-align;
        border: $table-border;
        border-radius: $table-border-radius;
    }

    // 큰 표
    .in-contents-chart, .in-contents-chart-member-change-topic, {
        width: $table-big-width;
        text-align: $table-text-align;
        border: $table-border;
        border-radius: $table-border-radius;
    }

    // 중간 표
    .in-contents-forbid-search, .in-contents-chart-member-change-comments, {
        width: $table-md-width;
        text-align: $table-text-align;
        border: $table-border;
        border-radius: $table-border-radius;
    }

    // 중간 작은 표
    .in-contents-chart-member-change-comments, {
        width: $table-md-sm-width;
        text-align: $table-text-align;
        border: $table-border;
        border-radius: $table-border-radius;
    }

    // 작은 표
    .in-contents-chart-forbid-search, {
        width: $table-sm-width;
        text-align: $table-text-align;
        border: $table-border;
        border-radius: $table-border-radius;
    }

    // 표 위에 총 글자
    .in-contents-ask-cost, .in-contents-content-comments-cost-content, .in-contents-forbid-cost-content{
        margin-bottom: $table-total-text-margin-bottom;
    }

    // 표 위에 총 글자 (버튼있는 버전)
    .in-contents-cost {
        margin-bottom: $table-total-text-button-margin-bottom;
    }

    // 큰 표 위에 총 글자
    .in-contents-cost, .in-contents-ask-cost, .in-contents-content-comments-cost-content, .in-contents-forbid-cost, .in-contents-content-topic-cost-content, {
        margin-left: $table-big-total-text-margin-left;
    }

    // 중간 표 위에 총 글자

    // 작은 표 위에 총 글자
     .in-contents-forbid-cost-content {
        margin-left: $table-sm-total-text-margin-left;
    }
}
