<template>
    <div class="in-contents-content-topic-box" :data="tableDataCloser">
        <el-col :gutter="16">
            <el-col :gutter="16" class="member-change-total3">
                <el-col :span="8" class="member-change-title3">아이디</el-col>
                <el-col :span="9" class="member-change-content2">
                    {{ tableDataCloser.memberId }}
                </el-col>
            </el-col>
            <el-row :gutter="16"></el-row>
            <el-row :gutter="16"></el-row>
            <el-col class="member-change-total2 member-change-total1-1">
                <el-col :span="4" class="member-change-title1">게시글 번호</el-col>
                <el-col :span="10" class="member-change-content1">
                    {{ tableDataCloser.voteBoardId }}
                </el-col>
            </el-col>
            <el-col class="member-change-total2">
                <el-col :span="4" class="member-change-title1">투표</el-col>
                <el-col :span="10" class="member-change-content1">
                    {{ tableDataCloser.isA }}
                </el-col>
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">토픽 A</el-col>
            <el-col :span="9" class="member-change-content2">
                {{ tableDataCloser.topicA }}
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">토픽 B</el-col>
            <el-col :span="9" class="member-change-content2">
                {{ tableDataCloser.topicB }}
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">댓글</el-col>
            <el-col :span="11" class="member-change-content2">
                {{ tableDataCloser.contents }}
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="2" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">작성 날짜</el-col>
            <el-col :span="13" class="member-change-content2">
                {{ tableDataCloser.dateCommentRegister }}
            </el-col>
        </el-row>
    </div>
</template>
<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            tableDataCloser: {
                memberId: '',
                voteBoardId: '',
                contents: '',
                recommendNum: '',
                dateCommentRegister: '',
                topicA: '',
                topicB: '',
                isA: '',
            },
        }
    },
    methods: {
        async DO_DETAIL_COMMENTS() {
            await this.$store.dispatch(this.$commentsConstants.DO_DETAIL_COMMENTS, {id: this.id})
                .then((res) => {
                    this.tableDataCloser = res.data.data
                    console.log(res)
                    console.log('성공따리2')
                })
                .catch((err) => {
                    console.log(err)
                    console.log('실패따리2')
                })
        },
    },
    created() {
        this.DO_DETAIL_COMMENTS()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CONTENT_SEARCH')
    },
}
</script>
