<template>
    <div class="flush-box">
        <div class="in-contents-setting-total-box1">
            <span class="in-contents-setting-box1-content1">대표 이미지</span>
            <div class="in-contents-setting-app-box1-content2">
                <el-avatar shape="square" :size="150">
                    <i class="el-icon-picture-outline"></i>
                </el-avatar>
            </div>
        </div>
        <div class="in-contents-setting-total-box2">
            <span class="in-contents-setting-box2-content1">소개</span>
            <div class="in-contents-setting-box-content-text1">
                사람들과 함께 자신의 생각을 공유해 보세요.
            </div>
        </div>
        <div class="in-contents-setting-total-box3">
            <span class="in-contents-setting-box3-content1">고객센터 전화번호</span>
            <div class="in-contents-setting-box-content-text2">
                010-XXXX-XXXX
            </div>
        </div>
        <div class="in-contents-setting-total-box3">
            <div class="in-contents-content-button">
                <nuxt-link to="/my-menu/setting/setting-app-change">
                    <button class="button-member-search-topic member-search-button">수정</button>
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            dialogImageUrl: '',
            dialogVisible: false
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'APP_SETTING')
    },
    methods: {

    }
}
</script>
