<template>
    <div class="flush-box">
        <div class="in-contents-setting-total-box1">
            <span class="in-contents-setting-box1-content1">주소 정보</span>
            <el-input placeholder="주소 정보를 입력해 주세요." v-model="input1"
                      class="in-contents-setting-web-box1-content1-input"></el-input>
        </div>
        <div class="in-contents-setting-total-box2">
            <span class="in-contents-setting-box2-content1">기본 정보</span>
            <div class="in-contents-setting-total-box2-content2">
                <el-input placeholder="시작일을 입력해 주세요." v-model="input2"
                          class="in-contents-setting-web-box2-content2-input"></el-input>
                <el-input placeholder="소유자를 입력해 주세요." v-model="input4"
                          class="in-contents-setting-web-box2-content2-input"></el-input>
                <el-input placeholder="만기일을 입력해 주세요." v-model="input3"
                          class="in-contents-setting-web-box2-content2-input"></el-input>
                <el-input placeholder="관리자를 입력해 주세요." v-model="input5"
                          class="in-contents-setting-web-box2-content2-input"></el-input>
            </div>
        </div>
        <div class="in-contents-setting-total-box3">
            <div class="ask-total-box2-text in-contents-button">
                <button class="button-member-search-search  member-search-button"
                        @click="regist">확인
                </button>
                <button class="button-member-search-search"
                        @click="cancel">취소
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            dialogImageUrl: '',
            dialogVisible: false,
            input1: '',
            input2: '',
            input3: '',
            input4: '',
            input5: '',
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'WEB_SETTING')
    },
    methods: {
        regist() {
            this.$confirm('정말로 등록하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '등록이 완료되었습니다.',


                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        cancel() {
            this.$confirm('정말로 취소하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '취소되었습니다.',
                });
            })
        },
    }
}
</script>
