<template>
    <div class="flush-box">
        <div class="refg-contents-wrap">
            <div class="in-contents">
                <div class="in-contents-title-member-change-topic">
                    <i class="el-icon-user"></i>
                    작성한 게시글 조회
                </div>
                <div class="in-contents-chart-member-change-topic">
                    <el-table :data="tableData">
                        <el-table-column label="선택" width="59">
                            <el-checkbox></el-checkbox>
                        </el-table-column>
                        <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                        <el-table-column prop="memberNickName" label="닉네임" width="280"></el-table-column>
                        <el-table-column prop="topicA" label="토픽 A" width="426"></el-table-column>
                        <el-table-column prop="topicB" label="토픽 B" width="426"></el-table-column>
                        <el-table-column prop="dateBoard" label="작성 날짜" width="260"></el-table-column>
                        <el-table-column prop="viewCount" label="조회수" width="52"></el-table-column>
                        <el-table-column prop="likeCount" label="추천수" width="52"></el-table-column>
                    </el-table>
                </div>
                <div class="in-contents-order">
                    <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="totalCount"
                        :current-page="pageNum"
                        @current-change="setPage">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                tableData: [],
                pageNum: 1,
                totalCount: 0,
            }
        },
        mounted() {
            this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_SEARCH')
        },
    }
</script>
