<template>
    <div class="flush-box">
        <div>
            <div class="in-contents-total-box1">
                <div class="in-contents-member-search-form">
                    <el-row :gutter="16">
                        <el-col :span="2">검색어</el-col>
                        <el-col :span="4">
                            <el-select v-model="value1" placeholder="검색어를 선택해 주세요.">
                                <el-option
                                    v-for="item in options1"
                                    :key="item.value1"
                                    :label="item.label"
                                    :value="item.value1">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="10">
                            <el-input placeholder="검색어를 입력해 주세요."></el-input>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16">
                        <el-col :span="2">검색 기간</el-col>
                        <el-col :span="4">
                            <el-select v-model="value2" placeholder="검색기간을 선택해 주세요.">
                                <el-option
                                    v-for="item in options2"
                                    :key="item.value2"
                                    :label="item.label"
                                    :value="item.value2">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="5">
                            <el-date-picker
                                v-model="value4"
                                type="date"
                                placeholder="시작 날짜를 선택해 주세요."
                                :picker-options="pickerOptions">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="5">
                            <el-date-picker
                                v-model="value3"
                                type="date"
                                placeholder="종료 날짜를 선택해 주세요.">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16">
                        <el-col :span="2">등급 검색</el-col>
                        <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll"
                                         @change="handleCheckAllChange">전체 선택
                            </el-checkbox>
                            <el-checkbox v-for="city in cities" :label="city" :key="city">{{ city }}</el-checkbox>
                        </el-checkbox-group>
                    </el-row>
                    <el-row :gutter="16">
                        <el-col :span="2">회원 상태</el-col>
                        <el-checkbox-group v-model="checkList">
                            <el-checkbox label="회원"></el-checkbox>
                            <el-checkbox label="활동 중지 회원"></el-checkbox>
                            <el-checkbox label="탈퇴 회원"></el-checkbox>
                            <el-checkbox label="관리자"></el-checkbox>
                        </el-checkbox-group>
                    </el-row>
                </div>
                <div class="in-contents-member-button">
                    <button class="button-member-search-search  member-search-button"
                            @click="SEARCH_ALL(), openModalSearch = true">조회
                    </button>
                </div>
            </div>
            <div class="in-contents-total-box2" v-if="openModalSearch == true" @click="closeChart($event)">
                <div class="in-contents-cost">
                    총 회원수
                    <button class="member-search-close">닫기</button>
                </div>
                <div class="in-contents-member-search">
                    <el-table :data="tableData">
                        <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                        <el-table-column prop="memberRating" label="회원 상태" width="130"></el-table-column>
                        <el-table-column prop="grade" label="등급" width="100"></el-table-column>
                        <el-table-column prop="username" label="아이디" width="170"></el-table-column>
                        <el-table-column prop="nickName" label="닉네임" width="180"></el-table-column>
                        <el-table-column prop="name" label="회원 이름" width="108"></el-table-column>
                        <el-table-column prop="dateBirth" label="생년월일" width="110"></el-table-column>
                        <el-table-column prop="phoneNumber" label="핸드폰 번호" width="130"></el-table-column>
                        <el-table-column prop="gender" label="성별" width="90"></el-table-column>
                        <el-table-column prop="email" label="이메일" width="170"></el-table-column>
                        <el-table-column prop="dateUser" label="가입 날짜" width="110"></el-table-column>
                        <el-table-column label="상세정보" width="59">
                            <template slot-scope="scope">
                                <el-button
                                    circle @click.native="moveDetail(tableData[scope.$index].id)" icon="el-icon-zoom-in"></el-button>
                            </template>
                        </el-table-column>
                        <el-table-column label="삭제" width="59">
                                <el-button type="danger" icon="el-icon-delete" circle></el-button>
                        </el-table-column>
                    </el-table>
                </div>
                <div class="in-contents-order">
                    <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="totalCount"
                        :current-page="pageNum"
                        @current-change="setPage">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
const cityOptions = ['TOTAL', 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIAMOND',];
export default {
    data() {
        return {
            openModalSearch: false,
            checkAll: false,
            checkedCities: ['TOTAL'],
            cities: cityOptions,
            isIndeterminate: true,
            checkList: ['회원'],
            options1: [
                {
                    value1: 'Option1',
                    label: '이름'
                }, {
                    value1: 'Option2',
                    label: '닉네임'
                }, {
                    value1: 'Option3',
                    label: '전체'
                },],
            value1: '',
            options2: [
                {
                    value2: 'Option1',
                    label: '가입 날짜'
                }, {
                    value2: 'Option2',
                    label: '활동 날짜'
                }, {
                    value2: 'Option3',
                    label: '전체'
                },],
            value2: '',
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [
                    {
                        text: 'Today',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: 'Yesterday',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'A week ago',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
            },
            value3: '',
            value4: '',
            checked: false,
            tableData: [],
            pageNum: 2,
            totalCount: 0,
        };
    },
    methods: {
        calculateIntervalTime(timeCreate) {
            // 현재 시간 가져오기, 등록 시간은 현재 string
            // (현재 시간의 기준은 페이지 로딩 완료 시점, 새로고침 안 하면 처음 기준 그대로)
            const nowTime = new Date() // localDate.now()와 같음
            // 등록 시간 캐스팅한 거
            const createTime = new Date(timeCreate)
            let prefixTime = '분'

            // 결과가 n분 전 또는 n시간 전 또는 n일 전
            // 분 간격 구하기
            // 1초는 1,000m/s, 소수점 버리기
            let interval = Math.floor((nowTime.getTime() - createTime.getTime()) / 1000 / 60)
            if (interval >= 1440) {
                interval = Math.floor(interval / 60 / 24)
                prefixTime = '일'
            } else if (interval >= 60) {
                interval = Math.floor(interval / 60)
                prefixTime = '시간'
            }

            return `${interval}${prefixTime}전`

            // 위에서 쓸 때는 {{ calculateIntervalTime('2024-02-01 13:56:33') }}
            // {{ calculateIntervalTime('2024-02-16 12:44:33') }}
        },
        handleCheckAllChange(val) {
            this.checkedCities = val ? cityOptions : [];
            this.isIndeterminate = false;
        },
        handleCheckedCitiesChange(value) {
            let checkedCount = value.length;
            this.checkAll = checkedCount === this.cities.length;
            this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length;
        },
        closeChart(event) {
            if (event.target.classList.contains('member-search-close')) {
                this.openModalSearch = false;
            } else if (event.target.classList.contains('member-search-button')) {
                this.openModalSearch = true;
            }
        },
        open() {
            this.$confirm('정말로 삭제하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '삭제가 완료되었습니다.'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        setPage(pageNum) {
            this.pageNum = pageNum
            this.SEARCH_ALL()
        },
        SEARCH_ALL() {
            let payload = {
                pageNum: this.pageNum,
            }

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.SEARCH_ALL, payload)
                .then((res) => {
                    this.tableData = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log('성공따리')
                })
                .catch(() => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log('실패따리')
                })
        },
        moveDetail(id) {
            let linkBaseUrl = '/my-menu/member/detail/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_SEARCH')
    },
    created() {
        this.SEARCH_ALL()
    },
}
</script>
