<template>
    <div class="flush-box">
        <div class="refg-contents-wrap">
            <div class="in-contents">
                <div class="in-contents-title-member-change-vote">
                    <i class="el-icon-user"></i>
                    투표 내역 조회
                </div>
                <div class="in-contents-chart-member-change-vote">
                    <el-table :data="tableData" border>
                        <el-table-column label="선택" width="59">
                            <el-checkbox></el-checkbox>
                        </el-table-column>
                        <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                        <el-table-column prop="topic" label="제목" width="426"></el-table-column>
                        <el-table-column prop="vote" label="선택안" width="280"></el-table-column>
                        <el-table-column prop="writeDate" label="작성 날짜" width="260"></el-table-column>
                    </el-table>
                </div>
                <div class="in-contents-order">
                    <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="totalCount"
                        :current-page="pageNum"
                        @current-change="setPage">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                tableData: [],
            }
        },
        mounted() {
            this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_SEARCH')
        },
    }
</script>
