<template>
    <div class="flush-box">
        <div class="refg-contents-wrap in-contents">
            <div class="in-contents-member-change" v-if="tableDataCloser != null">
                <div class="in-contents-total-form1">
                    <el-col :gutter="16">
                        <el-col :gutter="16">
                            <el-col class="member-change-total1 member-change-total1-1">
                                <el-skeleton-item variant="image" style="width: 270px; height: 145px;"/>
                            </el-col>
                            <el-col class="member-change-total1">
                                <el-col class="member-change-total1-2">
                                    <el-col :span="4" class="member-change-title1">아이디</el-col>
                                    <el-col :span="10" class="member-change-content1">
                                        {{ tableDataCloser.username }}
                                    </el-col>
                                </el-col>
                                <el-row :gutter="16"></el-row>
                                <el-row :gutter="16"></el-row>
                                <el-col class="member-change-total1-2">
                                    <el-col :span="4" class="member-change-title1">이름</el-col>
                                    <el-col :span="10" class="member-change-content1">
                                        {{ tableDataCloser.name }}
                                    </el-col>
                                </el-col>
                                <el-row :gutter="16"></el-row>
                                <el-row :gutter="16"></el-row>
                                <el-col class="member-change-total1-2">
                                    <el-col :span="4" class="member-change-title1">닉네임</el-col>
                                    <el-col :span="10" class="member-change-content1">
                                        {{ tableDataCloser.nickName }}
                                    </el-col>
                                </el-col>
                            </el-col>
                        </el-col>
                    </el-col>
                </div>
                <el-row :gutter="16"></el-row>
                <el-row :gutter="16"></el-row>
                <div class="in-contents-total-form2">
                    <el-col :gutter="16">
                        <el-col class="member-change-total2 member-change-total1-1">
                            <el-col :span="4" class="member-change-title1">상태</el-col>
                            <el-col :span="10" class="member-change-content1">
                                {{ tableDataCloser.memberRatingName }}
                            </el-col>
                        </el-col>
                        <el-col class="member-change-total2">
                            <el-col :span="4" class="member-change-title1">등급</el-col>
                            <el-col :span="10" class="member-change-content1">
                                {{ tableDataCloser.gradeName }}
                            </el-col>
                        </el-col>
                    </el-col>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="16"></el-row>
                    <el-col :gutter="16" class="member-change-total3">
                        <el-col :span="8" class="member-change-title3">생년월일</el-col>
                        <el-col :span="9" class="member-change-content2">
                            {{ tableDataCloser.dateBirth }}
                        </el-col>
                    </el-col>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="16"></el-row>
                    <el-col :gutter="16" class="member-change-total3">
                        <el-col :span="8" class="member-change-title3">이메일</el-col>
                        <el-col :span="9" class="member-change-content2">
                            {{ tableDataCloser.email }}
                        </el-col>
                    </el-col>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">투표 횟수</el-col>
                            <el-col :span="9" class="member-change-content3">0</el-col>
                        </el-col>
                        <el-col :span="6">
                            <nuxt-link to="/my-menu/member/member-change-vote">
                                <button class="button-member-change-closer">자세히 <i
                                    class="el-icon-arrow-right"></i>
                                </button>
                            </nuxt-link>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">작성한 게시글 수</el-col>
                            <el-col :span="9" class="member-change-content3">0</el-col>
                        </el-col>
                        <el-col :span="6">
                            <nuxt-link to="/my-menu/member/member-change-topic">
                                <button class="button-member-change-closer">자세히 <i
                                    class="el-icon-arrow-right"></i>
                                </button>
                            </nuxt-link>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">작성한 댓글 수</el-col>
                            <el-col :span="9" class="member-change-content3">0</el-col>
                        </el-col>
                        <el-col :span="6">
                            <nuxt-link to="/my-menu/member/member-change-comments">
                                <button class="button-member-change-closer">자세히 <i
                                    class="el-icon-arrow-right"></i>
                                </button>
                            </nuxt-link>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">차단한 유저</el-col>
                            <el-col :span="9" class="member-change-content3">0</el-col>
                        </el-col>
                        <el-col :span="6">
                            <div class="member-change-modal-user-black-bg" v-if="openModalCloser == true"
                                 @click="closeCloser($event)">
                                <div class="member-change-modal-user-white-bg">
                                    <div class="member-change-modal-user-title">회원 목록</div>
                                    <el-table :data="tableData" style="width: 80%"
                                              class="member-change-modal-user-content">
                                        <el-table-column prop="id" label="User ID" width="120"></el-table-column>
                                        <el-table-column prop="state" label="회원 상태"></el-table-column>
                                        <el-table-column prop="name" label="이름" width="155"></el-table-column>
                                        <el-table-column prop="nickname" label="회원 닉네임" width="155"></el-table-column>
                                    </el-table>
                                    <button class="member-change-modal-member-list"
                                            v-if="openModalCloser == true"
                                            @click="closeCloser($event)">
                                        확인
                                    </button>
                                </div>
                            </div>
                            <button class="button-member-change-closer"
                                    @click="openModalCloser = true">
                                자세히 <i class="el-icon-arrow-right"></i>
                            </button>
                        </el-col>
                    </el-row>
                    <el-row :gutter="16"></el-row>
                    <el-row :gutter="0">
                        <el-col class="member-change-total4">
                            <el-col :span="8" class="member-change-title3">즐겨찾기한 유저</el-col>
                            <el-col :span="9" class="member-change-content3">0</el-col>
                        </el-col>
                        <el-col :span="6">
                            <div class="member-change-modal-user-black-bg" v-if="openModalCloser == true"
                                 @click="closeCloser($event)">
                                <div class="member-change-modal-user-white-bg">
                                    <div class="member-change-modal-user-title">회원 목록</div>
                                    <el-table :data="tableData" style="width: 80%"
                                              class="member-change-modal-user-content">
                                        <el-table-column prop="id" label="User ID" width="120"></el-table-column>
                                        <el-table-column prop="state" label="회원 상태"></el-table-column>
                                        <el-table-column prop="name" label="이름" width="155"></el-table-column>
                                        <el-table-column prop="nickname" label="회원 닉네임" width="155"></el-table-column>
                                    </el-table>
                                    <button class="member-change-modal-member-list"
                                            v-if="openModalCloser == true"
                                            @click="closeCloser($event)">
                                        확인
                                    </button>
                                </div>
                            </div>
                            <button class="button-member-change-closer"
                                    @click="openModalCloser = true">
                                자세히 <i class="el-icon-arrow-right"></i>
                            </button>
                        </el-col>
                    </el-row>
                </div>
                <div class="member-change-modal-state-black-bg" v-if="openModal == true" @click="close($event)">
                    <div class="member-change-modal-state-white-bg">
                        <div class="member-change-modal-state-form">
                            <div class="member-change-modal-state-form1">계정 권한 변경</div>
                            <div class="member-change-modal-state-form2">
                                <el-select v-model="value" placeholder="선택해 주세요.">
                                    <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="member-change-modal-state-form3">
                                <button
                                    class="transparent-button-member-change-modal-state-form
                                        member-change-modal-state-form-submit"
                                    v-if="openModal == true" @click="move($event), open()">
                                    확인
                                </button>
                                <button
                                    class="transparent-button-member-change-modal-state-form
                                        member-change-modal-state-form-close"
                                    v-if="openModal == true" @click="close($event), cancel()">
                                    취소
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="in-contents-total-form3 member-change-modal-state-card">
                    <button @click="openModal = true" class="button-member-state-change">계정 권한 변경</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            openModal: false,
            openModalCloser: false,
            options: [
                {
                    value: 'Option1',
                    label: '회원'
                }, {
                    value: 'Option2',
                    label: '활동 중지'
                }, {
                    value: 'Option3',
                    label: '회원 탈퇴'
                }, {
                    value: 'Option4',
                    label: '관리자'
                }],
            value: '',
            tableData: [
                {
                    id: 'kdja',
                    state: 'kfjsdlfsd',
                    name: 'Tom',
                    nickname: '아부다비'
                }],
            tableDataCloser: {
                username: '',
                name: '',
                nickName: '',
                memberRatingName: '',
                gradeName: '',
                dateBirth: '',
                email: '',
            },
            id: null,
        };
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_CHANGE')
    },
    methods: {
        close(event) {
            if (event.target.classList.contains('member-change-modal-state-form-close')) {
                this.openModal = false;
            } else if (event.target.classList.contains('member-change-modal-state-white-bg')) {
                this.openModal = true;
            }
        },
        move(event) {
            if (event.target.classList.contains('member-change-modal-state-form-submit')) {
                this.openModal = false;
            } else if (event.target.classList.contains('member-change-modal-state-white-bg')) {
                this.openModal = true;
            }
        },
        closeCloser(event) {
            if (event.target.classList.contains('member-change-modal-member-list')) {
                this.openModalCloser = false;
            } else if (event.target.classList.contains('member-change-modal-user-white-bg')) {
                this.openModalCloser = true;
            }
        },
        open() {
            this.$alert('수정되었습니다.', '성공', {
                confirmButtonText: '확인',
                callback: action => {
                    this.$message({
                        type: 'success',
                        message: `성공하였습니다. 수정 사항을 확인하여 주세요.`
                    });
                }
            });
        },
        async SEARCH_ID() {
            await this.$store.dispatch(this.$memberConstants.SEARCH_ID, {id: this.id})
                .then((res) => {
                    this.tableDataCloser = res.data.data
                    console.log(res)
                    console.log('성공따리2')
                })
                .catch((err) => {
                    console.log(err)
                    console.log('실패따리2')
                })
        },
        cancel() {
            this.$alert('취소하였습니다.', '취소', {
                confirmButtonText: '확인',
            });
        },
    },
    created() {
        this.SEARCH_ID()
    }

}
</script>
