<template>
    <div class="in-contents-content-topic-box" :data="tableDataCloser">
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">작성자</el-col>
            <el-col :span="9" class="member-change-content2">
                {{ tableDataCloser.memberNickName }}
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16">
            <el-col class="member-change-total2 member-change-total1-1">
                <el-col :span="4" class="member-change-title1">카테고리</el-col>
                <el-col :span="10" class="member-change-content1">
                    {{ tableDataCloser.categoryName }}
                </el-col>
            </el-col>
            <el-col class="member-change-total2">
                <el-col :span="4" class="member-change-title1">게시타입</el-col>
                <el-col :span="10" class="member-change-content1">
                    {{ tableDataCloser.postTypeName }}
                </el-col>
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">토픽 A</el-col>
            <el-col :span="9" class="member-change-content2">
                {{ tableDataCloser.topicA }}
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">콘텐츠 A</el-col>
            <el-col :span="9" class="member-change-content2">
                {{ tableDataCloser.contentA }}
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">토픽 B</el-col>
            <el-col :span="9" class="member-change-content2">
                {{ tableDataCloser.topicB }}
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">콘텐츠 B</el-col>
            <el-col :span="9" class="member-change-content2">
                {{ tableDataCloser.contentB }}
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16">
            <el-col class="member-change-total2 member-change-total1-1">
                <el-col :span="4" class="member-change-title1">A 투표수</el-col>
                <el-col :span="10" class="member-change-content1">
                    {{ tableDataCloser.contentANum }}
                </el-col>
            </el-col>
            <el-col class="member-change-total2">
                <el-col :span="4" class="member-change-title1">B 투표수</el-col>
                <el-col :span="10" class="member-change-content1">
                    {{ tableDataCloser.contentBNum }}
                </el-col>
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">작성날짜</el-col>
            <el-col :span="11" class="member-change-content2">
                {{ tableDataCloser.dateBoard }}
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16">
            <el-col class="member-change-total2 member-change-total1-1">
                <el-col :span="4" class="member-change-title1">조회수</el-col>
                <el-col :span="10" class="member-change-content1">
                    {{ tableDataCloser.viewCount }}
                </el-col>
            </el-col>
            <el-col class="member-change-total2">
                <el-col :span="4" class="member-change-title1">추천수</el-col>
                <el-col :span="10" class="member-change-content1">
                    {{ tableDataCloser.likeCount }}
                </el-col>
            </el-col>
        </el-col>
        <el-row :gutter="16"></el-row>
        <el-row :gutter="16"></el-row>
        <el-col :gutter="16" class="member-change-total3">
            <el-col :span="8" class="member-change-title3">투표 종료 여부</el-col>
            <el-col :span="9" class="member-change-content2">
                {{ tableDataCloser.isOverTimeName }}
            </el-col>
        </el-col>

    </div>
</template>
<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            tableDataCloser: {
                memberNickName: '',
                categoryName: '',
                postTypeName: '',
                topicA: '',
                contentA: '',
                contentANum: '',
                topicB: '',
                contentB: '',
                contentBNum: '',
                dateBoard: '',
                viewCount: '',
                likeCount: '',
                isOverTimeName: '',
                memberImgUrl: '',
            },
        }
    },
    methods: {
        async DO_DETAIL_CONTENT() {
            await this.$store.dispatch(this.$topicConstants.DO_DETAIL_CONTENT, {id: this.id})
                .then((res) => {
                    this.tableDataCloser = res.data.data
                    console.log(res)
                    console.log('성공따리2')
                })
                .catch((err) => {
                    console.log(err)
                    console.log('실패따리2')
                })
        },
    },
    created() {
        this.DO_DETAIL_CONTENT()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CONTENT_SEARCH')
    },
}
</script>
