<template>
    <div class="flush-box">
        <div class="in-contents-ask-search-box1">
            <el-row :gutter="16">
                <el-col :span="2">검색어</el-col>
                <el-col :span="10">
                    <el-input placeholder="검색어를 입력해 주세요." v-model="input"></el-input>
                </el-col>
            </el-row>
            <el-row :gutter="16">
                <el-col :span="2">검색 기간</el-col>
                <el-col :span="5">
                    <el-date-picker
                        v-model="value4"
                        type="date"
                        placeholder="시작 날짜를 선택해 주세요."
                        :picker-options="pickerOptions">
                    </el-date-picker>
                </el-col>
                <el-col :span="5">
                    <el-date-picker
                        v-model="value3"
                        type="date"
                        placeholder="종료 날짜를 선택해 주세요.">
                    </el-date-picker>
                </el-col>
            </el-row>
            <div class="in-contents-ask-button">
                <button class="button-member-search-topic member-search-button"
                        @click="getList(), openModalSearch = true">조회
                </button>
            </div>
        </div>
        <div class="in-contents-ask-search-box2" v-if="openModalSearch == true" @click="closeChart($event)">
            <div class="in-contents-chart">
                <el-table :data="list">
                    <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                    <el-table-column prop="id" label="작성자 ID" width="150"></el-table-column>
                    <el-table-column prop="memberNickName" label="작성자" width="140"></el-table-column>
                    <el-table-column prop="title" label="제목" width="560"></el-table-column>
                    <el-table-column prop="dateUserAsk" label="작성 날짜" width="300"></el-table-column>
                    <el-table-column label="상세정보" width="59">
                        <template slot-scope="scope">
                            <el-button
                                circle @click.native="moveDetail(list[scope.$index].id)"
                                icon="el-icon-zoom-in"></el-button>
                        </template>
                    </el-table-column>
                    <el-table-column label="삭제" width="59">
                        <template slot-scope="scope">
                            <el-button
                                type="danger"
                                @click="delData(list[scope.$index].id)" icon="el-icon-delete"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="in-contents-ask-order">
                <el-pagination
                    background
                    small
                    layout="prev, pager, next"
                    :total="totalCount"
                    :current-page="pageNum"
                    @current-change="setPage"
                >
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            openModalSearch: false,
            input: '',
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [
                    {
                        text: 'Today',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: 'Yesterday',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'A week ago',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
            },
            value3: '',
            value4: '',
            list: [],
            pageNum: 1,
            totalCount: 0,
        }
    },
    methods: {
        closeChart(event) {
            if (event.target.classList.contains('member-search-close')) {
                this.openModalSearch = false;
            } else if (event.target.classList.contains('member-search-button')) {
                this.openModalSearch = true;
            }
        },
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        getList() {
            let payload = {
                pageNum: this.pageNum,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$askConstants.DO_ASK_LIST_PAGING, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalCount = res.data.totalCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

        delData(id) {
            let payload = {
                id: id
            }
            if (confirm('정말 삭제하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$askConstants.DO_ASK_DELETE, payload)
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)

                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },

        moveDetail(id) {
            let linkBaseUrl = '/my-menu/ask/detail-member/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },

    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COUNSEL_SEARCH')
    },
}
</script>
