<template>
    <div class="flush-box">
        <div class="refg-contents-wrap">
            <div class="in-contents-title-member-change-vote">
                <i class="el-icon-user"></i>
                투표 내역 조회
            </div>
            <div class="in-contents-chart-member-change-vote">
                <el-table :data="tableData">
                    <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                    <el-table-column prop="memberId" label="아이디" width="62"></el-table-column>
                    <el-table-column prop="memberName" label="닉네임" width="100"></el-table-column>
                    <el-table-column prop="boardId" label="글 아이디" width="80"></el-table-column>
                    <el-table-column prop="boardTopicA" label="토픽 A" width="426"></el-table-column>
                    <el-table-column prop="boardTopicB" label="토픽 B" width="426"></el-table-column>
                    <el-table-column prop="isAName" label="선택안" width="64"></el-table-column>
                    <el-table-column prop="writeDate" label="작성 날짜" width="260"></el-table-column>
                </el-table>
            </div>
            <div class="in-contents-order">
                <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="totalCount"
                    :current-page="pageNum">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            tableData: [],
            pageNum: 1,
            totalCount: 0,
        }
    },
    methods: {
        async DO_MEMBER_VOTE_ALL() {

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.DO_MEMBER_VOTE_ALL, {id: this.id})
                .then((res) => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.tableData = res.data.list
                    console.log(res)
                    console.log('성공따리2')
                })
                .catch((err) => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log(err)
                    console.log('실패따리2')
                })
        },
    },
    created() {
        this.DO_MEMBER_VOTE_ALL()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_SEARCH')
    },
}
</script>
