<template>
    <div class="refg-default-frame flush-box">
        <div class="refg-menu-wrap">
            <div class="in-logo">
                <div class="logo-admin-icon">
                    <span>관리자</span>
                    <i class="el-icon-s-custom"></i>
                </div>
            </div>
            <div class="in-menu">
<!--                <ul>-->
<!--                    <li class="depth1-box" v-for="(menuData, menuIndex) in menusList" v-bind:key="menuIndex">-->
<!--                        <div class="depth1-title flush-box">-->
<!--                            <i :class="menuData.icon"></i>{{ menuData.parentName }}-->
<!--                        </div>-->
<!--                        <div class="depth2-box">-->
<!--                            <ul>-->
<!--                                <li v-for="(menuData2, menuIndex2) in menuData.menuLabel" v-bind:key="menuIndex2"-->
<!--                                    v-if="menuData2.isShow">-->
<!--                                    <nuxt-link :to="menuData2.link">{{ menuData2.currentName }}</nuxt-link>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->

                <el-row class="tac">
                        <el-menu
                            default-active="2"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose">
                            <el-menu-item index="1">
                                <i class="el-icon-tickets"></i>
                                <span>대시보드</span>
                            </el-menu-item>
                            <el-submenu index="2">
                                <template slot="title">
                                    <i class="el-icon-user"></i>
                                    <span>회원 관리</span>
                                </template>
                                <nuxt-link to="/my-menu/member/member-search">
                                    <el-menu-item index="2-1">회원 정보 조회</el-menu-item>
                                </nuxt-link>
                            </el-submenu>
                            <el-submenu index="3">
                                <template slot="title">
                                    <i class="el-icon-postcard"></i>
                                    <span>콘텐츠 관리</span>
                                </template>
                                <nuxt-link to="/my-menu/content/topic/content-topic-search">
                                    <el-menu-item index="3-1">게시글 조회</el-menu-item>
                                </nuxt-link>
                                <nuxt-link to="/my-menu/content/comments/content-comments-search">
                                    <el-menu-item index="3-2">댓글 조회</el-menu-item>
                                </nuxt-link>
                            </el-submenu>
                            <el-submenu index="4">
                                <template slot="title">
                                    <i class="el-icon-circle-close"></i>
                                    <span>금칙어 관리</span>
                                </template>
                                <nuxt-link to="/my-menu/forbid/forbid-search">
                                    <el-menu-item index="4-1">금칙어 조회</el-menu-item>
                                </nuxt-link>
                                <nuxt-link to="/my-menu/forbid/forbid-regist">
                                    <el-menu-item index="4-2">금칙어 등록</el-menu-item>
                                </nuxt-link>
                            </el-submenu>
                            <el-submenu index="5">
                                <template slot="title">
                                    <i class="el-icon-edit-outline"></i>
                                    <span>1:1 상담</span>
                                </template>
                                <nuxt-link to="/my-menu/ask/ask-search">
                                    <el-menu-item index="5-1">상담 내역 조회 & 등록</el-menu-item>
                                </nuxt-link>
                                <nuxt-link to="/my-menu/ask/ask-regist-search">
                                    <el-menu-item index="5-2">관리자 답변 내역 조회</el-menu-item>
                                </nuxt-link>
                            </el-submenu>
                            <el-submenu index="6">
                                <template slot="title">
                                    <i class="el-icon-data-line"></i>
                                    <span>통계</span>
                                </template>
                                <nuxt-link to="/my-menu/stats/stats-content">
                                    <el-menu-item index="6-1">기간별 접속자 수 조회</el-menu-item>
                                </nuxt-link>
                                <nuxt-link to="/my-menu/stats/stats-member">
                                    <el-menu-item index="6-2">회원 현황 조회</el-menu-item>
                                </nuxt-link>
                            </el-submenu>
                            <el-submenu index="7">
                                <template slot="title">
                                    <i class="el-icon-tickets"></i>
                                    <span>홈페이지 설정</span>
                                </template>
                                <nuxt-link to="/my-menu/setting/setting-web">
                                    <el-menu-item index="7-1">사이트 설정</el-menu-item>
                                </nuxt-link>
                                <nuxt-link to="/my-menu/setting/setting-app">
                                    <el-menu-item index="7-2">앱 설정</el-menu-item>
                                </nuxt-link>
                            </el-submenu>
                        </el-menu>
                </el-row>
            </div>
        </div>
        <div class="refg-contents-wrap">
            <div class="in-bread">
                <span>{{ selectedMenu[0] }} <i class="el-icon-arrow-right"></i> {{ selectedMenu[1] }}</span>
            </div>
            <div class="in-contents">
                <Nuxt/>
            </div>
        </div>
        <Nuxt/>
    </div>
</template>

<script>

export default {
    data() {
        return {}
    },
    methods: {
        handleOpen(key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath);
        }
    },
    computed: {
        error() {
            return error
        },
        menusList() {
            return this.$store.getters[this.$menuConstants.GET_MENUS_LIST]
        },
        selectedMenu() {
            return this.$store.getters[this.$menuConstants.GET_SELECTED_MENU]
        },

    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },

}
</script>
