<template>
    <div class="flush-box">
        <div class="refg-contents-wrap">
            <div class="in-contents-title-member-change-topic">
                <i class="el-icon-user"></i>
                작성한 게시글 조회
            </div>
            <div class="in-contents-chart-member-change-topic">
                <el-table :data="tableData">
                    <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                    <el-table-column prop="memberNickName" label="닉네임" width="110"></el-table-column>
                    <el-table-column prop="topicA" label="토픽 A" width="396"></el-table-column>
                    <el-table-column prop="topicB" label="토픽 B" width="396"></el-table-column>
                    <el-table-column prop="dateBoard" label="작성 날짜" width="240"></el-table-column>
                    <el-table-column prop="viewCount" label="조회수" width="63"></el-table-column>
                    <el-table-column prop="likeCount" label="추천수" width="63"></el-table-column>
                </el-table>
            </div>
            <div class="in-contents-topic-order">
                <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="totalCount"
                    :current-page="pageNum">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            tableData: [],
            pageNum: 1,
            totalCount: 0,
        }
    },
    methods: {
        async DO_MEMBER_WRITE_ALL() {

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.DO_MEMBER_WRITE_ALL, {id: this.id})
                .then((res) => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.tableData = res.data.list
                    console.log(res)
                    console.log('성공따리2')
                })
                .catch((err) => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log(err)
                    console.log('실패따리2')
                })
        },
    },
    created() {
        this.DO_MEMBER_WRITE_ALL()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_SEARCH')
    },
}
</script>
