<template>
    <div class="flush-box">
        <div class="refg-contents-wrap">
            <div class="in-contents">
                <div class="in-contents-title-member-change-comments">
                    <i class="el-icon-user"></i>
                    작성한 댓글 조회
                </div>
                <div class="in-contents-chart-member-change-comments">
                    <el-table :data="tableData">
                        <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                        <el-table-column prop="contents" label="댓글" width="508"></el-table-column>
                        <el-table-column prop="recommendNum" label="추천수" width="120"></el-table-column>
                        <el-table-column prop="dateCommentRegister" label="작성 날짜" width="300"></el-table-column>
                    </el-table>
                </div>
                <div class="in-contents-member-comments-order">
                    <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="totalCount"
                        :current-page="pageNum">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            tableData: [],
            pageNum: 1,
            totalCount: 0,
        }
    },
    methods: {
        async DO_MEMBER_COMMENTS_ALL() {

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.DO_MEMBER_COMMENTS_ALL, {id: this.id})
                .then((res) => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.tableData = res.data.list
                    console.log(res)
                    console.log('성공따리2')
                })
                .catch((err) => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log(err)
                    console.log('실패따리2')
                })
        },
    },
    created() {
        this.DO_MEMBER_COMMENTS_ALL()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_SEARCH')
    },
}
</script>
