<template>
    <div class="flush-box">
        <div class="in-contents-content-change-button">
            <button type="text" @click="change" class="button-member-search-topic member-search-button">변경</button>
            <button type="text" @click="open" class="button-member-search-search">삭제</button>
        </div>
        <div class="in-contents-forbid-total-box">
            <div class="in-contents-forbid-cost-content">
                총 금칙어
            </div>
            <div class="in-contents-chart-forbid-search">
                <el-table :data="tableData" style="width: 100%">
                    <el-table-column label="선택" width="59">
                        <el-checkbox></el-checkbox>
                    </el-table-column>
                    <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                    <el-table-column prop="forbidName" label="금칙어명" width="360"></el-table-column>
                    <el-table-column prop="writeDate" label="작성 일시" width="328"></el-table-column>
                </el-table>
            </div>
            <div class="in-contents-order">
                <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="1000">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            openModalSearch: false,
            input: '',
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'FORBID_SEARCH')
    },
    methods: {
        open() {
            this.$confirm('정말로 삭제하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '삭제가 완료되었습니다.'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        change() {
            this.$confirm('정말로 변경하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '변경이 완료되었습니다.'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        }
    }
}
</script>
