<template>
    <div class="flush-box">
        <div class="in-contents-forbid-box1">
            <div class="in-contents-forbid-search">
                <el-table
                    :data="list.filter(data => !search || data.forbidName.toLowerCase().includes(search.toLowerCase()))">
                    <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                    <el-table-column
                        label="등록날짜"
                        prop="dateForbid">
                    </el-table-column>
                    <el-table-column
                        label="금칙어"
                        prop="forbidName">
                    </el-table-column>
                    <el-table-column
                        align="right">
                        <template slot="header" slot-scope="scope">
                            <el-input
                                v-model="search"
                                size="mini"
                                placeholder="Type to search"/>
                        </template>
                        <template slot-scope="scope">
                            <el-button type="danger" icon="el-icon-delete" circle @click.native="delData(scope.row.id)"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="in-contents-forbid-order">
                <el-pagination
                    background
                    small
                    layout="prev, pager, next"
                    :total="totalCount"
                    :current-page="pageNum"
                    @current-change="setPage">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>


export default {
    data() {
        return {
            list: [],
            pageNum: 1,
            totalCount: 0,

            search: '',
        }
    },

    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },

        getList() {
            let payload = {
                pageNum: this.pageNum,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$forbidConstants.DO_FORBID_PAGE_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalCount = res.data.totalCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

        delData(id) {
            let payload={
                id:id
            }
            if (confirm('정말 삭제하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$forbidConstants.DO_FORBID_DELETE, payload)
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)

                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'FORBID_SEARCH')
    },

}
</script>
