<template>
    <div class="flush-box">
        <div>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
                <el-row :gutter="16">
                    <el-col :span="12">
                        <el-form-item label="금칙어 등록" prop="forbidName">
                            <el-input placeholder="등록할 금칙어를 입력해 주세요." v-model="ruleForm.forbidName"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <div class="in-contents-forbid-regist">
                        <el-form-item>
                            <el-button type="primary" class="in-contents-forbid-regist-button" @click="doSetData()">
                                <span>등록</span>
                            </el-button>
                        </el-form-item>
                    </div>
                </el-row>
            </el-form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            ruleForm: {
                forbidName: '',
            },
            rules: {
                forbidName: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:1, max:10, message:'1~10자 내로 입력해주세요.', trigger: 'blur'}
                ]
            }
        }
    },
    methods: {
        doSetData() {
            const formName = 'ruleForm'

            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },

        setData() {
            const payload = {
                forbidName: this.ruleForm.forbidName,
            }


            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$forbidConstants.DO_FORBID_CREATE, payload)

            this.$confirm('정말로 등록하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(res => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$message({
                        type: 'success',
                        message: '등록이 완료되었습니다.',
                        show: this.openModalSearch = true,
                    });
                })
                .catch(err => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$message({
                        type: 'info',
                        message: '취소되었습니다.'
                    });
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'FORBID_REGIST')
    },

}
</script>
