<template>
    <div class="flush-box">
        <div class="in-contents-content-search-form">
            <el-row :gutter="16">
                <el-col :span="2">검색어</el-col>
                <el-col :span="4">
                    <el-select v-model="value1" placeholder="검색어를 선택해 주세요.">
                        <el-option
                            v-for="item in options1"
                            :key="item.value1"
                            :label="item.label"
                            :value="item.value1">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="10">
                    <el-input placeholder="검색어를 입력해 주세요." v-model="input"></el-input>
                </el-col>
            </el-row>
            <el-row :gutter="16">
                <el-col :span="2">카테고리</el-col>
                <el-col :span="4">
                    <el-select v-model="value2" placeholder="카테고리를 선택해 주세요.">
                        <el-option
                            v-for="item in options2"
                            :key="item.value2"
                            :label="item.label"
                            :value="item.value2">
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>
        </div>
        <div class="in-contents-content-button">
            <button class="button-member-search-topic member-search-button"
                    @click="DO_SEARCH_COMMENTS(), openModalSearch = true">
                조회
            </button>
        </div>
        <div class="in-contents-content-total-box" v-if="openModalSearch == true" @click="closeChart($event)">
            <div class="in-contents-content-topic-cost-content">
                총 게시글
                <button class="member-search-close">닫기</button>
            </div>
            <div class="in-contents-chart-content-change-topic">
                <el-table :data="tableData">
                    <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
<!--                    <el-table-column prop="memberId" label="아이디" width="100"></el-table-column>-->
                    <el-table-column prop="memberName" label="닉네임" width="90"></el-table-column>
                    <el-table-column prop="boardTopicA" label="토픽 A" width="340"></el-table-column>
                    <el-table-column prop="boardTopicB" label="토픽 B" width="340"></el-table-column>
                    <el-table-column prop="contents" label="댓글" width="305"></el-table-column>
                    <el-table-column prop="dateCommentRegister" label="작성 날짜" width="224"></el-table-column>
                    <el-table-column label="상세정보" width="59">
                        <template slot-scope="scope">
                            <el-button
                                circle @click.native="moveDetail(tableData[scope.$index].id)" icon="el-icon-zoom-in"></el-button>
                        </template>
                    </el-table-column>
                    <el-table-column width="60" label="삭제">
                        <template slot-scope="scope">
                            <el-button type="danger" icon="el-icon-delete" circle @click.native="DO_DELETE_COMMENTS(tableData[scope.$index].id)"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="in-contents-order">
                <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="totalCount"
                    :current-page="pageNum"
                    @current-change="setPage">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            options1: [
                {
                    value1: 'Option1',
                    label: '아이디'
                },
                {
                    value1: 'Option2',
                    label: '닉네임'
                },
                {
                    value1: 'Option3',
                    label: '전체'
                },
            ],
            value1: '',
            options2: [
                {
                    value2: 'Option1',
                    label: '일상'
                }, {
                    value2: 'Option2',
                    label: '유머'
                }, {
                    value2: 'Option3',
                    label: '정보'
                }, {
                    value2: 'Option4',
                    label: '연예'
                }, {
                    value2: 'Option5',
                    label: '게임'
                }, {
                    value2: 'Option6',
                    label: '만화/애니'
                }, {
                    value2: 'Option7',
                    label: '스포츠'
                }, {
                    value2: 'Option8',
                    label: '여행'
                }, {
                    value2: 'Option9',
                    label: '전체'
                },
            ],
            value2: '',
            input: '',
            openModalSearch: false,
            tableData: [],
            pageNum: 1,
            totalCount: 0,
        }
    },
    methods: {
        closeChart(event) {
            if (event.target.classList.contains('member-search-close')) {
                this.openModalSearch = false;
            } else if (event.target.classList.contains('member-search-button')) {
                this.openModalSearch = true;
            }
        },
        setPage(pageNum) {
            this.pageNum = pageNum
            this.DO_SEARCH_COMMENTS()
        },
        DO_SEARCH_COMMENTS() {
            let payload = {
                pageNum: this.pageNum,
            }

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$commentsConstants.DO_SEARCH_COMMENTS, payload)
                .then((res) => {
                    this.tableData = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log('성공따리')
                })
                .catch((err) => {
                    console.log(err)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    console.log('실패따리')
                })
        },
        DO_DELETE_COMMENTS(id) {
            let payload = {
                id: id
            }
            if (confirm('정말 삭제하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$commentsConstants.DO_DELETE_COMMENTS, payload)
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.DO_SEARCH_CONTENT()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                        console.log('성공')

                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                        console.log('실패')
                        console.log(err)
                    })
            }

        },
        moveDetail(id) {
            let linkBaseUrl = '/my-menu/content/comments/detail-comments/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COMMENT_SEARCH')
    },
}
</script>
