<template>
    <div class="flush-box">
        <div class="in-contents-content-change-button">
            <button type="text" @click="open" class="button-member-search-search">삭제</button>
        </div>
        <div class="in-contents-content-total-box">
            <div class="in-contents-content-comments-cost-content">
                총 댓글
            </div>
            <div class="in-contents-chart-content-change-comments">
                <el-table :data="tableData" border>
                    <el-table-column label="선택" width="59">
                        <el-checkbox></el-checkbox>
                    </el-table-column>
                    <el-table-column type="index" :index="indexMethod" label="번호" width="52"></el-table-column>
                    <el-table-column prop="category" label="카테고리" width="130"></el-table-column>
                    <el-table-column prop="topic" label="제목" width="390"></el-table-column>
                    <el-table-column prop="topic" label="댓글" width="350"></el-table-column>
                    <el-table-column prop="seeNum" label="조회수" width="82"></el-table-column>
                    <el-table-column prop="recoNum" label="추천수" width="82"></el-table-column>
                    <el-table-column prop="writeDate" label="작성 날짜" width="240"></el-table-column>
                    <el-table-column prop="reportNum" label="신고수" width="82"></el-table-column>
                </el-table>
            </div>
            <div class="in-contents-order">
                <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="1000">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            openModalSearch: false,
            options1: [{
                value1: 'Option1',
                label: '아이디'
            }, {
                value1: 'Option2',
                label: '닉네임'
            }, ],
            value1: '',
            options2: [{
                value2: 'Option1',
                label: '일상'
            }, {
                value2: 'Option2',
                label: '유머'
            }, {
                value2: 'Option2',
                label: '정보'
            }, {
                value2: 'Option2',
                label: '연예'
            }, {
                value2: 'Option2',
                label: '게임'
            }, {
                value2: 'Option2',
                label: '만화/애니'
            }, {
                value2: 'Option2',
                label: '스포츠'
            }, {
                value2: 'Option2',
                label: '여행'
            },],
            value2: '',
        }
    },
    computed: {
        error() {
            return error
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COMMENT_SEARCH')
    },
    methods: {
        open() {
            this.$confirm('정말로 삭제하시겠습니까?', 'Warning', {
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '삭제가 완료되었습니다.'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
    }
}
</script>
