<template>
    <div class="flush-box">
        <div class="in-contents-stats-content-total-box1">
            <el-row :gutter="16">
                <el-col :span="2">검색 기간</el-col>
                <el-col :span="5">
                    <el-date-picker
                        v-model="value4"
                        type="date"
                        placeholder="시작 날짜를 선택해 주세요."
                        :picker-options="pickerOptions">
                    </el-date-picker>
                </el-col>
                <el-col :span="5">
                    <el-date-picker
                        v-model="value3"
                        type="date"
                        placeholder="종료 날짜를 선택해 주세요.">
                    </el-date-picker>
                </el-col>
            </el-row>
            <div class="in-contents-content-button">
                <button class="button-member-search-topic member-search-button"
                        @click="openModalSearch = true">
                    조회
                </button>
            </div>
            <div class="in-contents-total-box2" v-if="openModalSearch == true" @click="closeChart($event)">
                <div class="in-contents-cost">
                    총 접속자수
                    <button class="member-search-close">닫기</button>
                </div>
                <div class="in-contents-chart">
                    <div class="in-contents-chart">
                        <el-table :data="tableData">
                            <el-table-column prop="time" label="시간" width="50"></el-table-column>
                            <el-table-column prop="graph" label="그래프" width="1080"></el-table-column>
                            <el-table-column prop="accessor" label="접속자수" width="98"></el-table-column>
                            <el-table-column prop="percent" label="비율" width="90"></el-table-column>
                        </el-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            openModalSearch: false,
            value3: '',
            value4: '',
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [
                    {
                        text: 'Today',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: 'Yesterday',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'A week ago',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
            },
            tableData: [
                {
                    time: '00',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '678',
                    percent: '90%',
                },
                {
                    time: '01',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '678',
                    percent: '90%',
                },
                {
                    time: '02',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '678',
                    percent: '90%',
                },
                {
                    time: '03',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="80"></el-progress>,
                    accessor: '598',
                    percent: '80%',
                },
                {
                    time: '04',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '501',
                    percent: '75%',
                },
                {
                    time: '05',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="45"></el-progress>,
                    accessor: '291',
                    percent: '45%',
                },
                {
                    time: '06',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="50"></el-progress>,
                    accessor: '342',
                    percent: '50%',
                },
                {
                    time: '07',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="50"></el-progress>,
                    accessor: '342',
                    percent: '50%',
                },
                {
                    time: '08',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="60"></el-progress>,
                    accessor: '438',
                    percent: '60%',
                },
                {
                    time: '09',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="65"></el-progress>,
                    accessor: '469',
                    percent: '65%',
                },
                {
                    time: '10',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '487',
                    percent: '70%',
                },
                {
                    time: '11',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '501',
                    percent: '75%',
                },
                {
                    time: '12',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '501',
                    percent: '75%',
                },
                {
                    time: '13',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '501',
                    percent: '75%',
                },
                {
                    time: '14',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '487',
                    percent: '70%',
                },
                {
                    time: '15',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '487',
                    percent: '70%',
                },
                {
                    time: '16',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '487',
                    percent: '70%',
                },
                {
                    time: '17',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '487',
                    percent: '70%',
                },
                {
                    time: '18',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="70"></el-progress>,
                    accessor: '487',
                    percent: '70%',
                },
                {
                    time: '19',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="80"></el-progress>,
                    accessor: '598',
                    percent: '80%',
                },
                {
                    time: '20',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="75"></el-progress>,
                    accessor: '501',
                    percent: '75%',
                },
                {
                    time: '21',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="80"></el-progress>,
                    accessor: '598',
                    percent: '80%',
                },
                {
                    time: '22',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '678',
                    percent: '90%',
                },
                {
                    time: '23',
                    graph: <el-progress text-inside="true" stroke-width="16" percentage="90"></el-progress>,
                    accessor: '678',
                    percent: '90%',
                },
            ],
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STATS_CONTENT')
    },
    methods: {
        closeChart(event) {
            if (event.target.classList.contains('member-search-close')) {
                this.openModalSearch = false;
            } else if (event.target.classList.contains('member-search-button')) {
                this.openModalSearch = true;
            }
        },
    }
}
</script>
