<template>
    <div class="flush-box">
        <div class="in-contents-stats-member-total">
            <el-row :gutter="16">
                <el-col :span="2">검색 기간</el-col>
                <el-col :span="5">
                    <div class="block">
                        <el-date-picker
                            v-model="value1"
                            type="year"
                            placeholder="검색할 연도를 선택해 주세요.">
                        </el-date-picker>
                    </div>
                </el-col>
            </el-row>
            <div class="in-contents-button">
                <nuxt-link to="/my-menu/stats/stats-member-week">
                    <button class="button-member-search-search  member-search-button">주간별</button>
                </nuxt-link>
                <nuxt-link to="/my-menu/stats/stats-member-month">
                    <button class="button-member-search-search">월별</button>
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            value3: '',
            value4: '',
            value1: '',
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STATS_MEMBER')
    },
    methods: {

    }
}
</script>
